.dk-navbar {
  background-color: $WHITE;
  @media (min-width: 992px) {
    min-height: 85px;
    align-items: flex-end;
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .navbar-collapse {
    @media (min-width: 992px) {
      display: flex;
      justify-content: center;
    }

    @media (max-width: 992px) {
      margin-top: 10px;
    }

    .navbar-nav {
      a {
        font-size: 8pt;
        color: $BLACK;
        font-family: 'GothamMedium';
        font-weight: normal;
        font-style: normal;
        &:hover {
          color: $YELLOW_DARK;
        }
      }
    }
  }
  .divider {
    height: 1px;
    width: 70%;
    right: -$container-padding;
    bottom: 0px;
    background-color: $GRAY_LIGHT;
    position: absolute;
  }
}

.callme {
  // width: 168px;
  height: 35px;
  background-color: $GRAY_LIGHT;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  right: 10px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-content: center;
  color: $BLACK;
  padding-right: 15px;
  padding-left: 15px;
  @media (max-width: 992px) {
    right: 100px;
  }
  @media (max-width: 576px) {
    display: none;
  }
  p {
    margin-top: 3px;
    font-size: 12pt;
  }
}
